#block_container {
    display: flex;
    justify-content: center;
  }


  #block_container_right {
    display: flex;
    justify-content: right;
  }

  #block_container_left {
    display: flex;
    justify-content: left;
  }

  #img_block{
    width: 8cm;
    height: 4cm;
    padding-right: 1cm;
    padding-right: 1cm;
  }