<p>
  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Orient Soln.</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>

    <button mat-icon-button style="padding-left: 12cm;">
      <span>Home</span>
    </button>

    <button mat-icon-button style="padding-left: 3cm;">
      <span>Products</span>
    </button>

    <button mat-icon-button style="padding-left: 3cm;">
      <span>Services</span>
    </button>

    <button mat-icon-button style="padding-left: 3cm;">
      <span>Gallery</span>
    </button>

    <button mat-icon-button style="padding-left: 3cm;">
      <span>About Us</span>
    </button>

    <button mat-icon-button style="padding-left: 3cm;">
      <span>Helpline</span>
    </button>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with login icon"
    style="padding-left: 3cm;" routerLink="/auth">
      <mat-icon>login</mat-icon>
      <span>login</span>
    </button>

  </mat-toolbar>
</p>



<router-outlet></router-outlet>